<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ipClient" value="172.29.2.114"/>
    <add key="ipServer" value="172.29.2.114"/>
    <add key="port" value="0"/>
  </appSettings>
</configuration>